*{
  font-family:calibri;
}

body{
  overflow-y: scroll;
}

.Initial{
  z-index:0;
}

#InitialScreen{
  width:400px; 
  position:absolute;
  top: 50%;
  left:50%;
  background-color:lightgrey;
  transform:translate(-200px,-40px);
  height: 80px;
  padding-top:15px;
  border-radius:40px;
  border:solid 5px black;
  -webkit-transition: transform 0.1s, linear;
  transition: transform 0.1s linear;
}


#iButtons{
  position:relative;
  left:50%;
  transform:translate(-150px, 0px);
  width:300px;
  transition: transform 0.1s linear;
  -webkit-transition: transform 0.1s linear;
}

#searchTerm{
  width:224px;
  outline:none;
  padding-top:5px;
  padding-bottom:5px;
  text-align:center;
  border-radius:15px;
}

#iSearch{
  display:inline-block;
  width:60px;
  padding:5px;
  text-align:center;
  margin-left:11px;
  border-radius:15px;
  outline:none;
}

#SearchBox{
  display:inline-block;
}

#randomPage{
  width:100%;
  margin-top:9px;
  padding:5px;
  border-radius:15px;
  outline:none;
}

#aa{
  height:20px;
  width:20px;
  display:inline-block;
  position:absolute;
  left:201px;
  top:5px;
  margin: 0px 0px 0px 0px;
  visibility:hidden;
  cursor:pointer;
  padding: 0;
  background-color:white;
  padding-left:5px;
  border-radius:8px;
}

#myCanvas{
  border:2px solid grey; 
  border-radius:26px;  
}

#aa:hover #myCanvas{
  border: 2px solid black;
}

#resultContainer{
  width:950px;
  background-color:lightgrey;
  margin:auto;
  position:relative;
  top:75px;
  z-index:1;
  padding-left:0;
  padding-right:0;
  padding-top:30px;
  opacity:0;
  border: black 5px solid;
  overflow:none;
}

.resultItem{
  width:214px;
  height:100px;
  background-color:white;
  display:inline-block;
  margin-left:50px;
  border: 5px solid black;
  border-radius:40px;
  margin-top:0px;
  margin-bottom:20px;
  padding-top:10px;
  padding-left:13px;
  padding-right:13px;
  vertical-align:top;
  text-align:center;
  font-size:14px;
  font-weight:bold;
  z-index:5;
  cursor:pointer;
  overflow:none;
  padding-bottom:15px;
}


.resultItem:hover{
  background-color:lightblue;
  z-index:100;
}


#pageLoader{
  height:99%;
  width:1200px;
  border: black solid 5px;
  position:fixed;
  z-index:10;
  left:50%;
  transform:translate(-600px,-10px);
  display:none;
}

#iframeCross{
  background-color:white;
  height:50px;
  width:50px;
  z-index:11;
  position:fixed;
  top:20px;
  left:50%;
  transform:translate(640px,0px);
  border:5px solid grey; 
  border-radius:30px;  
  opacity: 0.3;
  cursor:pointer;
}

#iframeCross:hover{
  opacity:1;
}

#iframeCross:active{
    box-shadow: 0 0 2px 2px black;
}

#iframeExit{
  opacity:0;
    display:none;
}

span{
display:inline-block;
}

.rSnippet{
  text-align:justify;
    font-weight:normal;
}