#titleContainer{
  border-radius:15px;
  width:260px;
  height:50px;
  border:5px solid grey;
  margin:auto;
  background-color:white;
  margin-top:75px;
  text-align:center;
  padding-top:5px;
  font-weight:bold;
  font-size:40px;
  font-family: 'Roboto', sans-serif;
  padding-left:102px;
  padding-right:102px;
}


#gameContainer{
height: 465px;
width:465px;
position:relative;
  border-radius:500px;
  background-color:dimgrey;
  padding-top:20px;
  padding-left:20px;
  margin:auto;
  margin-top:50px;
}

.colourBox{
height:200px;
width:200px;
display:inline-block;
margin:10px;
cursor:pointer;
}

#c1{background-color:red;
border-top-left-radius:200px;}
#c2{background-color:green;
border-top-right-radius:200px;}
#c3{background-color:yellow;
border-bottom-left-radius:200px;}
#c4{background-color:blue;
border-bottom-right-radius:200px;}

#cCircle{
position:absolute;
z-index:2;
height:150px;
width:150px;
border-radius:100px;
top:160px;
left:160px;
background-color:grey;
  border: 5px white solid;
}

#circleCover{
position:absolute;
height:500px;
width:500px;
z-index:4;
background-color:transparent;
top:0px;
display:none;
}

#level{
  background-color:black;
  height:50px;
  width:80px;
  position:relative;
  top:25px;
  left:31px;
  color:red;
  font-family:'Segment7Standard', Arial;
  font-size:50px;
  padding-top:5px;
  text-align:center;
  border:white solid 4px;
}

#gameStart{
  background-color:#b70000;
  height:45px;
  width:45px;
  border-radius:50px;
  position:relative;
  top:37px;
  left:52px;
  outline:none;
  font-size:10px;
  font-weight:bold;
  text-align:auto;
  padding:0;
  color:white;
  cursor:pointer;
}

#gameStart:active{
  background-color:#7c0000;
}


#strictLabel{
  top:28px;
  left:-55px;
}

.button{
  display:inline-block;
  font-size:7px;
  background-color:#b70000;
  height:23px;
  width:30px;
  padding-top:6px;
  border-radius:40px;
  position:relative;
  color:white;
  font-weight:bold;
  text-align:center;
  font-family: 'Roboto', sans-serif;
  border: 2px white outset;
  cursor:pointer;
}

#strictCheck:checked + label {
}

#strictCheck{
  visibility:hidden;
}

#onOffLabel{
  top:-15px;
  left:97px;
  padding-top:10px;
  height:19px;
}

#onOffcheck:checked + label {
 background-color:green;
  
}

#onOffcheck{
  visibility:hidden;
}

body{
  background-image:url(http://res.cloudinary.com/duv0xmpto/image/upload/v1477318089/sayagata-400px_rnzeby.png);
}