#circle{
  height:392px;
  width:392px;
  border-radius:200px;
  background-color:lightgreen;
  position:absolute;
  z-index:1;
  margin:auto;
  padding:0;
    top:124px;
    right:109px;
}

#progBar{
  background-color:lightsteelblue;
  position:absolute;
  z-index:2;
  padding:0;
  width:392px;
  top:124px;
  right:109px;
}

#outerCircle{
  padding:0;
  border:black solid 5px;
  border-radius:210px;
  width:400px;
  height:400px;
  position:absolute;
  z-index:3;
  right:100px;
  top:115px;
}

body{background-color:lightsteelblue;
  font-family: 'Roboto', sans-serif;
}

#Timer{
position:absolute;
text-align:center;
height:200px;
line-height:50px;
    right:100px;
    top:265px;
  z-index:4;
  
  
  
}

.tButtons{
  display:inline-block;
  height:30px;
  width:30px;
  border-radius:15px;
  outline:none;
  background-color:lightgreen;
  border:black solid 2px;
  font-weight: bold;
}

.timerVal{
  display:inline-block;
  height:30px;
  width:40px;
  border-radius:25px;
  background-color:lightgreen;
  position:relative;
  padding-top:10px;
  margin-left:10px;
  margin-right:10px;
  text-align:center;
  border: black solid 2px;
      font-weight: bold;
}

.buttonContainer{
  text-align:center;
    font-weight: bold;
  border-radius:20px;
  border: black solid 5px;
  padding: 10px;
}

#bDuration{}
#tDuration{}

#tButtonP{}
#tButtonM{}
#bButtonP{}
#bButtonM{}

#timerScale{
  float:left;
  position:relative;
  right:10px;
}
#breakScale{
  float:right;
}

#topBar{
  top: 75px;
  position:relative;
  width:600px;
  margin:auto;
  padding:0;
}

#circleVals{
  display:inline-block;
  width:400px;
  /* z-index:20; */
  margin:auto;
  position:relative;
  font-family:'Segment7Standard', Arial;
  font-size:40px;
}

#circleBackground{
  height:420px;
  width:420px;
  border-radius:210px;
  background-image: url(http://icons.iconarchive.com/icons/danieledesantis/audio-video-outline/512/play-icon.png);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;
  opacity:0;
  position:absolute;
    top:110px;
  z-index:6;
  right:95px;
  cursor:pointer;
  transition:opacity 0.5s;
}

#circleBackground:hover{
   opacity:0.5;
}

#tMode{
  position:relative;
  display:inline-block;
  height:50px;
  width:400px;
  text-align:center;
  z-index:5;
  font-size:40px;
}

