span{ 
display:block;
}

body {
  background-color: #E9E9E9;

}

a:link {
 color:white; 
}

a:visited {
  color:white; 
}

a:hover {
  color:white;
  text-decoration:none;
}

h1{
  color:white;
    font-size: 40pt;
}

h3{
  color:white;
  font-size:18pt;
  padding-top:5px;
  padding-bottom:5px;
}

 #bContainer {
  background: url(https://i.imgur.com/Qe706cP.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 400px;
  overflow:hidden;
}

#ex1 {
margin-top: 100px;
}

.infobox{
  background-color:grey;
  height:100px;
  width:180px;
  float:right;
  margin-top: 30px;
  margin-right: 30px;
  opacity:0.75;
  border-radius: 5px;
}

.title-Text{
  background-color: grey;
  border-radius:5px;
  margin: 15px 0px 0px 10px;
  padding-left:10px;
  padding-right:20px;
  width:auto;
  display:inline-block;
  clear:both;
  float:left;
}

.footerz{
  background-color: grey;
  border-top: black solid 2px;
  width:100%;
  margin: 0px 0px 0px 0px;
  opacity:0.75;
  color:white;
  font-size:10pt;
  font-weight:bold;
  padding-top: 10px;
}

.infotext{
  visibility:hidden;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size:12px;
  }

.infobox:hover .infotext{
  visibility:visible;
  float:right;
  width:80%;
}

.infobox:hover {
  background-color:grey;
  width:70%;
  overflow-y:auto;
  overflow-x:hidden;
}

.date {
  color-white;
  font-size: 16pt;
  position:absolute;
  margin:0;
  top:50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.infobox:hover .date{
  position:absolute;
  width:20%;
  margin-top:50.5%;
  margin:0;
  text-align: center;
  margin:0;
  top:50%;
  left: 10%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.infotitle{
  color:Black;
  text-decoration:bold;
  font-size: 14px;
  padding-top:5px;
  
}

